.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Dark Mode Style */
.dark-mode{
  background-color: black;
}


/* Searchbar Style */
.style{
  outline: none;
  border: none;
  background-color: #f0f1f3;
  margin-left: 10px;
}


.container{
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
/* AddNote component Style */
.background{
  background-color: blueviolet;
  border: none;
  color: white;
}

textarea{
  resize: none;
  border: none;
}

textarea:focus{
  outline: none;
}

/* Delete icon style */
.hover-effect:hover{
  cursor: pointer;
  size: 1.9rem;
  color: brown;
}

